.jumbotron h1 {
  text-align: center;
  border: none;
}

h1 {
  text-align: center;
  border-top: 2px solid black;
  padding: 20px;
}
.index h3 {
  text-align: center;
  font-size: 40px;
}

.center {
  text-align: center;
}

.col-md-4 {
 border: 5px solid black;
}

.markdownImg {
  height: 600px;
  width: auto;
  box-shadow: 5px 5px 5px 5px black;
}

.centerDiv {
  text-align: center;
}

.bigger {
  font-size: 24px;
}

img {
  margin: auto;
  box-shadow: 5px 5px 5px 5px black;
}

.smlImage {
  width: 500px;
  height:300px;
}

.responsive div {
  border: 1px solid black;
}

.float {
  float:right;
}

.bigimg{
  width: 800px;
  height: 400px;
}

.blue-background {
  background-color: blue;
}

.col-md-3 {
  text-align: center;
  transition-duration: 3s;
  height:auto;
}
.col-md-3:hover {
  background-color: #e5ffe5;
  height:auto;
  transition-duration: 3s;
}
